//Footer
.footer {
	padding: 60px 0;
	p {
		font-size: 12px;
	}
	.copyright-text {
		margin: 50px 0;
		text-align: center;
	}
	@media (max-width: $screen-lg-min) {
		.footer-columns {
			margin-bottom: 40px;
		}
	}
}