$white: white;
$light-grey: #F9F9F9;
$light-grey-2: #F5F5F5;
$light-grey-3: #F3F3F3;
$grey: #939598;
$dark-grey: #333333;
$black: black;
$blue-green: #45c0be;
$fontFamily: 'Open Sans', sans-serif;
$input-height-base: 40px;
$btn-secondary-color: $grey;
$btn-secondary-bg: $white;
$btn-secondary-border: $dark-grey;

$fa-version: "4.7.0";
