//Blog Comments Module
.blog-comments-container {
	background: $white;
	padding: 50px 40px 30px 40px;
	.comment-content {
		padding-bottom: 20px;
	}
	.comment-date {
		margin-right: 20px;
	}
	.comment-feedback {
		margin: 30px 0 0 50px;
		padding: 30px 0px 30px 30px;
		border-top: 1px solid $light-grey;
	}
	.user-icon {
		font-size: 40px;
	}
	.new-comment-form {
		border-top: 1px solid $light-grey;
	}
}