//Our Services Module
.our-services {
	position: relative;
	.slick-prev {
		left: 25px;
	}
	.slick-next {
		right: 25px;
	}
	h3 {
		margin-bottom: 20px;
		color: $white;
		span {
			display: block;
			font-size: 12px;
			//color: $grey;
		}
	}
	p {
		margin-bottom: 30px;
		color: $white;
	}
	.btn {
		width: 250px;
	}
	.full-bg-image {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
	}
	.slick-slide {
		min-height: 400px;
		padding: 100px 0;
	}
	.slick-dots {
		bottom: 15px;
	}
	.service-element-content {
		max-width: 420px;
	}
}