//Shopping Cart Module
.shopping-cart-module {
	table {
		width: 100%;
		p {
			margin: 0;
		}
	}
	.info-icon {
		font-size: 20px;
		color: $blue-green;
	}
	.product-qty-input {
		width: 150px;
		text-align: center;
		label {
			margin: 0;
			width: 60px;
		}
	}
	.product-price {
		width: 150px;
		text-align: center;
	}
	.total-price {
		width: 150px;
		text-align: center;
	}
	.action-holder {
		width: 30px;
		text-align: right;
	}
	.remove-btn {
		display: inline-block;
		width: 20px;
		height: 20px;
		padding: 0;
		text-align: center;
		border-radius: 15px;
		border: 3px solid;
		line-height: 10px;
		* {
			display: block;
		}
	}
	.shopping-cart-table-container {
		margin-bottom: 20px;
		padding: 40px 30px;
		background: #FFF;
		th {
			padding: 0 0 20px 0;
		}
		tbody {
			tr {
				border-top: 1px solid;
			}
		}
	}
	.product-details-content {
		min-height: 140px;
		padding: 20px 0 0 120px;
		position: relative;
		h3 {
			margin: 0;
		}
		.product-img {
			width: 100px;
			position: absolute;
			left: 0;
		}
		.recipe-info {
			margin-top: 15px;
		}
		.recipe-icon {
			margin-right: 5px;
		}
	}
	.carts-container {
		font-size: 34px;
		text-align: center;
	}
	.file-preview {
		max-width: 210px;
	}
	@media (max-width: $screen-sm-max) {
		thead {
			display: none;
		}
		table,
		tbody,
		tr,
		td {
			display: block;
			width: 100%;
			float: left;
		}
		td {
			width: auto;
			padding-bottom: 20px;
			float: left;
			p {
				margin-top: 15px;
				font-size: 20px;
			}
		}
		.product-details {
			width: 100%;
			.btn {
				.hidden-xs {
					display: inline !important;
				}
			}
		}
		.product-price,
		.product-qty-input,
		.total-price {
			text-align: left;
		}
		.control-label {
			span {
				margin-bottom: 10px;
				line-height: 20px;
			}
		}
	}
	@media (max-width: 450px) {
		.product-container {
			position: relative;
			.action-holder {
				position: absolute;
				top: 20px;
				right: 10px;
			}
		}
		.product-details-content {
			padding-left: 0;
			.product-img {
				width: 80%;
				margin-bottom: 20px;
				position: relative;
			}
		}
	}
}