.success-module {
	width: 800px;
	margin: 0 auto;
	padding: 50px 50px;
	background: #FFF;
	h1 {
	    margin-top: 0;
	}
	.btn {
		width: 200px;
	}
	.btn-first {
		margin-right: 20px;
	}
	.button-holder {
		padding-top: 20px;
	}
}